<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>CSV Report - Admin</title>
    <link rel="stylesheet" href="/stylesheet.css" type="text/css">
  </head>
  <header>
    <% if LoggedIn %>
      <a href="/login">Log In</a>
    <% else %>
      <a href="/logout">Log Out</a>
    <% end %>
  </header>
  <body>
    <h1>Admin Actions</h1>
    <ul>
      <li>Update Account</li>
    </ul>
    <a href="/">Home</a>
  </body>
</html>
